<div class="jumbotron">
  <div class="container">
    <br>
    <h4><strong>CONDICIONES GENERALES DE ACCESO Y USO DEL SITIO WEB WWW.HUELVAPEDIA.ES</strong></h4>
    <br>
    <p>
        El sitio web www.www.huelvapedia.es es propiedad de Lolo (en adelante, Huelvapedia), con domicilio
        a efectos de notificaciones en algún lugar de Cartaya, NIF núm. 55555555A y dirección de correo
        electrónico lolo&#64;huelvapedia.es, y a través del mismo se proporciona información sobre sus actividades.
    </p>

    <!-- ?? DATOS INSCRIPCION -->

    <p>El acceso y uso del sitio web atribuye al que lo realiza la condición de “Usuario” e implica la aceptación íntegra,
        expresa y sin reservas de las presentes condiciones generales, vigentes en el momento del acceso. Si el usuario no
        comprendiera en su totalidad las presentes condiciones de uso o no estuviera de acuerdo con las mismas, deberá
        abstenerse de utilizar y operar a través de este sitio web. </p>

    <p>Las presentes condiciones generales rigen única y exclusivamente el uso del sitio web de Huelvapedia por
    parte de los usuarios que accedan y/o naveguen por www.www.huelvapedia.es. Las presentes condiciones generales se exponen
    en el sitio web www.huelvapedia.es, para que los usuarios puedan leerlas, imprimirlas y
    archivarlas.</p>

    <br>
        <strong>PRIMERA.- CONDICIONES DE ACCESO Y USO.</strong>
    <br>
    <p>La utilización del sitio web de Huelvapedia es gratuita y no requiere el previo registro del usuario. En
        aquellos casos que el acceso y/o uso de determinados servicios y/o contenidos requiriesen el registro o suscripción
        de los usuarios, será necesario que éstos acepten previamente la correspondiente Política de Privacidad y las
        Condiciones Generales específicas, no siendo posible el acceso a los mismos sin dicha aceptación.</p>
    <p>Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el
        principio de buena fe, comprometiéndose el usuario a realizar un buen uso de la web. Quedan prohibidos todos los
        actos que vulneren derechos o intereses de terceros (derecho a la intimidad, protección de datos, propiedad
        intelectual, etc.), o la normativa vigente.</p>
    <p>Huelvapedia prohíbe expresamente:
        <br><br>
    <ul>
        <li>Realizar acciones que puedan producir en el sitio web o a través del mismo, por cualquier medio, cualquier tipo
            de daño a los sistemas de Huelvapedia o a terceros.
        </li>
        <li>Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma
            encubierta, el envío de correos masivos ("spamming") o envío de grandes mensajes con el fin de bloquear
            servidores de la red ("mail bombing").
        </li>
    </ul>
<br>
    <p>El usuario se compromete a no utilizar el sitio web, ni los contenidos o información y/o los servicios que se ofrecen
        en el mismo para la realización de actividades contrarias a la ley y a respetar en todo momento las presentes
        condiciones generales.</p>
    <p>Huelvapedia podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un uso contrario a
        la legalidad, la buena fe o a las presentes condiciones generales.</p>
<br>
    <strong>SEGUNDA.- CONTENIDOS.</strong>
    <p>Los contenidos incorporados en este sitio web han sido elaborados e incluidos por Huelvapedia, utilizando
        fuentes internas y externas, de tal modo que Huelvapedia únicamente se hace responsable por los
        contenidos elaborados de forma interna.</p>
    <p>Huelvapedia se reserva el derecho a modificar en cualquier momento los contenidos existentes en su sitio
        web. Huelvapedia no asegura ni se responsabiliza del correcto funcionamiento de los enlaces a sitios web
        de terceros que figuren en el sitio web.</p>
    <p>Además, a través del sitio web www.huelvapedia.es, pueden ponerse a disposición de los usuarios, servicios gratuitos y/o
        de pago ofrecidos por terceros ajenos, los cuáles se regirán por las condiciones particulares de dichos
        servicios. Huelvapedia no garantiza en ningún caso la veracidad, exactitud o actualidad de los contenidos
        y servicios ofrecidos por terceros y queda expresamente exonerado de cualquier tipo de responsabilidad por los daños
        y perjuicios que puedan derivarse de la falta de exactitud de estos contenidos y servicios.</p>

<br>
    <strong>TERCERA.- RESPONSABILIDAD.</strong>
    <p>Huelvapedia en ningún caso será responsable de:
        <br><br>
    <ul>
        <li>Los fallos e incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones incompletas de
            manera que no se garantiza que los servicios del sitio web estén constantemente operativos.
        </li>
        <li>De la producción de cualquier tipo de daño que los usuarios o terceros pudiesen ocasionar en el sitio web.</li>
        <li>De la fiabilidad y veracidad de las informaciones introducidas por terceros en el sitio web, bien directamente,
            bien a través de enlaces o links.
        </li>
    </ul>
<br>

    <p>Huelvapedia se reserva el derecho a suspender el acceso sin previo aviso de forma discrecional y con
        carácter definitivo o temporal hasta el aseguramiento de la efectiva responsabilidad de los daños que pudieran
        producirse.</p>
    <p>Huelvapedia colaborará y notificará a la autoridad competente las incidencias anteriormente indicadas en
        el momento en que tenga conocimiento fehaciente de que los daños ocasionados constituyan cualquier tipo de actividad
        ilícita.</p>

<br>
        <!-- AUTOR-->
        <strong>CUARTA.- DERECHOS DE AUTOR</strong>
        <p>Los contenidos propios, la programación y el diseño del sitio web www.huelvapedia.es se encuentra plenamente
            protegido por los derechos de autor, quedando expresamente prohibida toda reproducción, comunicación,
            distribución y transformación de los referidos elementos protegidos, salvo consentimiento expreso
            de Huelvapedia.</p>
        <p>Huelvapedia puede utilizar fuentes externas para la elaboración de sus contenidos y establecer links o
            hiperenlaces a artículos o informaciones de terceros citando siempre la fuente. El legítimo titular de los
            derechos de autor de las informaciones así incluidas podrá solicitar en cualquier momento la eliminación de los
            referidos contenidos.</p>
        <p>Los materiales tanto gráficos como escritos enviados por los usuarios a través de los medios que se ponen a su
            disposición en el sitio web son propiedad del usuario, quien afirma al enviarlos su legítima autoría y cede los
            derechos de reproducción y distribución al Huelvapedia. </p>
<br>
    <strong>QUINTA.- JURISDICCIÓN Y LEY APLICABLE</strong>
    <p>Las presentes condiciones generales se rigen por la legislación española. Son competentes para resolver toda
        controversia o conflicto que se derive de las presentes condiciones generales los Juzgados de Huelva,
        renunciando expresamente el usuario a cualquier otro fuero que pudiera corresponderle.</p>
<br>
    <strong>SEXTA.- MISCELANEA.</strong>
    <p>
        La declaración de nulidad de alguna o algunas de las cláusulas de estas Condiciones no perjudica la validez de las
        restantes, que permanecerán vigentes. Huelvapedia podrá no ejercitar alguno de los derechos y facultades
        conferidos en este documento estas Condiciones lo que no implicará en ningún caso la renuncia a los mismos, salvo
        reconocimiento expreso por parte de Huelvapedia.
        Estas Condiciones Generales podrán ser modificadas por Huelvapedia cuando así lo considere oportuno.
        La modificación surtirá efectos desde el día siguiente a la fecha de su publicación.
    </p>
    <br><br>
    <p>Fecha de publicación 10-12-2023</p>
    <br><br><br><br><br>
    </div>

